//Position
$center : center;

//Style
$italic: italic;

//Size
$zero : 0;
$onePixel : 1px;
$fivePixels : 5px;
$tenPixels : 10px;
$eighteenPixels : 18px;
$twentyPixels : 20px;
$thirtyPixels : 30px;

//Percent
$twentyFivePercent : 25%;
$thirtyPercent : 30%;
$oneHundredPercent : 100%;

//Color
$black: black;
$white: white;
$red : #ac0c00;
$green: #009688;

//Other
$auto : auto;
$solid : solid;
$none : none;