body{
    font-family: 'Merriweather', serif;
}
#myBooks {
    width: 70%;
    margin: auto;
    background-color: lightgrey;
    padding: 20px;
}
h1{
    text-align: center;
}
img{
    width: 128px;
}
.btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #00b89c;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.book {
    background-color: aquamarine;
    padding: 10px 20px;
}