@import "variables";
@import "mixins";

body{
    font-family: 'Merriweather', serif;
}
#myBooks {
    margin: $auto;
    padding: $twentyPixels;

    .center {
        text-align: $center;
    }
    h1{
        text-align: $center;
        border: $none;
        font-size: $twentyPixels;
    }
    #logo {
        width: 100px;
    }
    h2{
        font-size: $eighteenPixels;
        text-align: $center;
    }
    img{
        width: 128px;
    }
    input {
        width: $oneHundredPercent;
        border: $solid $onePixel $black;
        margin: $fivePixels $zero;
        padding: $fivePixels;
    }
    .btn {
        margin: $tenPixels $twentyPixels;
        padding: $tenPixels $thirtyPixels;
        font-size: 16px;
        background-color: $green;
        color: $white;
        border-radius: $fivePixels;
        border: $none;
    }
    #searchBlock .btn {
        width: 150px;
        margin: $tenPixels $twentyFivePercent;
    }
    #cancel {
        background-color: $red;
    }
    .book, .my-book {
        background-color: #e0e0e0;
        border: $solid $onePixel $black;
        margin: $twentyPixels $zero;
        padding: $tenPixels;
    }
    .book-top {
        @include flex-container();
    }
    .book-bottom {
        @include flex-container(column, space-between);
    }
    .id {
        font-style: $italic;
    }
    .fa-bookmark {
        color: $green;
    }
    .fa-trash-alt {
        color: $red;
    }
    #addBookBlock {
        text-align: $center;
    }
    #results-books {
        @include flex-container(row, space-between, wrap);
    }
}

@media (min-width: 767px) {
    #myBooks {
        #searchBlock .btn {
            width: 150px;
            margin: $tenPixels $zero;
        }
        .book {
            width: 45%;
        }
        .book-bottom {
            flex-direction: row;
        }
    }
}

@media (min-width: 991px) {
    .book {
        width: $thirtyPercent;
    }
}