body{
    font-family: 'Merriweather', serif;
}
#myBooks {
    margin: auto;
    padding: 20px;
}
h1{
    text-align: center;
    background-color: #ebecf2;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
}
h2{
    font-size: 18px;
    text-align: center;
}
img{
    width: 128px;
}
input {
    width: 100%;
    border: solid 1px black;
    margin: 5px 0;
    padding: 5px;
}
.btn {
    margin: 10px 20px 10px 0;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
    border: none;
}
#cancel {
    background-color: #f44e42;
}
.center {
    text-align: center;
}
.book, .my-book {
    background-color: #e0e0e0;
    border: solid 1px black;
    margin: 20px 0;
    padding: 10px;
}
.book-top {
    display: flex;
    justify-content: space-between;
}
.book-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.id {
    font-style: italic;
}
.fa-bookmark {
    color: #009688;
}
.fa-trash-alt {
    color: #ac0c00;
}
#addBookBlock {
    text-align: center;
}
#searchBlock .btn {
    width: 150px;
    margin: 10px 25%;
}
#results-books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (min-width: 767px) {
    #searchBlock .btn {
        width: 150px;
        margin: 10px 0;
    }
    .book {
        width: 45%;
    }
    .book-bottom {
        flex-direction: row;
    }
}

@media (min-width: 991px) {
    .book {
        width: 30%;
    }
}